*.pydevproject
.metadata/
.gradle
*.class
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
workspace/.metadata/
.loadpath
*.resources

*.xmi

workspace/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
